<main>
    <section class="main-content">
        <% if(typeof titulo !== 'undefined'){%>
            <h1><%- titulo %></h1>
            <div>
                <% numeros.forEach(num => {%>
                    <%- `<p>${num}</p>` %>
                <% }) %>
            </div>
            <p>Middleware: <%= umaVariavelLocal %></p>
        <% } %>
    </section>
</main>