/* Fonts */
:root{
    font-family: sans-serif;
    font-size: 62.5%;
}

/* Colors */
:root{
    --color-default: #fff;
    --color-primary: rgb(17, 86, 102);
    --color-secondary: rgba(17, 86, 102, .5);
}

/* Gaps */
:root{
    --gap-default: 3rem;
    --gap-small: 1.5rem;
}

/* Global */
*{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-default);
}

h1{
    font-size: 3rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-default);
}

a:hover{
    opacity: 0.6;
}

/* MAIN */
main{
    display: flex;
    min-height: 100vh;
    align-items: center;
}

.main-content{
    margin: 0 auto;
    padding: var(--gap-default);
    min-height: 80rem;
    min-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content > h1{
    text-align: center;
    margin-bottom: var(--gap-small);
}

/* HEADER */
header{
    background-color: var(--color-primary);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 90%;
    margin: 0 auto;
    color: var(--color-default);
}

.logo{
    font-weight: bold;
    font-size: 2rem;
}

#nav-pages > ul{
    display: flex;

}

#nav-pages > ul > li{
    margin-right: 2rem;
}

#nav-pages > ul > li > a{
    font-size: 1.5rem;
}

/* AGENDA */
.agenda-contacts {
    width: 100%;
    border-collapse: collapse;
}
tr {
    height: 5rem;
}
tr td {
    border-top: 0.2rem solid #ccc;
    padding: 1rem;
}

/* NOTIFICAÇÕES */
.alert, .done{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin: 1rem;
    height: 5rem;
    width: 100%;
}
.alert, .delete{
    background-color: rgb(202, 142, 142);
    color: rgb(85, 0, 0);
}

.done{
    background-color: rgb(106, 186, 106);
    color: rgb(0, 69, 0);
}

/* LOGIN */
.container-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sing-in, .sing-up, .form-field, .btn-form, .contact{
    margin: var(--gap-small);
}

.sing-in, .sing-up, .contact{
    min-width: 40rem;
    margin-top: var(--gap-default);
}

.sing-in > h2, .sing-up > h2, .title-form{
    font-size: 2rem;
}

.form-input{
    display: block;
    height: 3.5rem;
    width: 100%;
    border-radius: .8rem;
}
.btn-form{
    height: 5rem;
    width: 20rem;
    background-color: var(--color-primary);
    color: var(--color-default);
    border-radius: 1rem;
    font-weight: bold;
    border: none;
}

.btn-form:hover{
    background-color: var(--gap-default);
    color: var(--color-primary);
    border: .3rem solid var(--color-primary);
    cursor: pointer;
}

/* Contact */
.contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.contact > .form-field{
    min-width: 100%;
}

.contact > .form-input{
    height: 4.5rem;
}

.contact > .btn-form{
    min-width: 60%;
    font-size: 2rem;
}

.contact > .form-field > label{
    font-weight: bold;
    font-size: 1.8rem;
}

.update, .delete{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    height: 3rem;
    width: 2rem;
    width: 100%;
}

.update{
    background-color: rgb(142, 144, 202);
    color: rgb(25, 0, 85);
}