<header>
    <section id="header-content">
        <a class="logo" href="/">AGENDA</a>
        <nav id="nav-pages">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="#">AGENDAMENTOS</a></li>
            </ul>
        </nav>
    </section>
</header>