<header>
    <section id="header-content">
        <a class="logo" href="/">AGENDA</a>
        <nav id="nav-pages">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/contact">CONTATOS</a></li>
                <% if(user) { %>
                    <li><a href="/login/logout" style="color: red;">LOGOUT</a></li>
                <% } else { %>
                    <li><a href="/login">LOGIN</a></li>
                <% } %>
            </ul>
        </nav>
    </section>
</header>