<%- include('includes/head') %>
<%- include('includes/header') %>
<main>
    <section class="main-content">
        <h1>Formulário:</h1>
        <form action="/form" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome">
            <button>Enviar</button>
        </form>
    </section>
</main>
<%- include('includes/footer') %>