<%- include('./includes/head') %>
<%- include('./includes/header') %>
<main>
    <section class="main-content">
        <h1>Agenda</h1>
        <span class="subtitle">Seus contatos estão abaixo</span>
        <%- include('./includes/messages') %>
        <table class="agenda-contacts">
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Telefone</th>
                <th>E-mail</th>
            </tr>
            <tr>
                <td>Nome</td>
                <td>Sobrenome</td>
                <td>+55 (99) 999999999</td>
                <td>doquinhajunio@email.com</td>
            </tr>
            <tr>
                <td>Nome</td>
                <td>Sobrenome</td>
                <td>+55 (99) 999999999</td>
                <td>doquinhajunio@email.com</td>
            </tr>
            <tr>
                <td>Nome</td>
                <td>Sobrenome</td>
                <td>+55 (99) 999999999</td>
                <td>doquinhajunio@email.com</td>
            </tr>
            <tr>
                <td>Nome</td>
                <td>Sobrenome</td>
                <td>+55 (99) 999999999</td>
                <td>doquinhajunio@email.com</td>
            </tr>
        </table>
    </section>
</main>
<%- include('./includes/footer') %>
